*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 70vh;
    width: 70vw;
 
}
.game{
height: 60vmin;
width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
   background-color: #191913;
    color: #fff;
    
}
#reset-btn{
     border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    
}
.msg-container{
    height: 25vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

body{
background-color: #548687;
text-align: center;
}
